
@font-face
    font-family: 'sitka'
    src: url("fonts/sitka-small-652.ttf") format("truetype")


$sitkaFont: 'sitka', sans-serif
$light: #F3F5FD
$headerNameFont: Arial, Helvetica, sans-serif
$headerWorkInfosFont: 'Franklin Gothic Medium'
$sitkaFont: Sitka