@font-face {
  font-family: "sitka";
  src: url("fonts/sitka-small-652.ttf") format("truetype");
}
* {
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.boxNavbar {
  z-index: 1;
  background-color: white;
  font-weight: bold;
  color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem 2rem;
}
.boxNavbar__pages {
  display: flex;
  flex-direction: flow;
  justify-items: center;
  align-items: center;
}
.boxNavbar__pages_logoPortfolio {
  width: 4rem;
  height: 100%;
}
.boxNavbar__pages_boxBtn {
  margin-left: 35rem;
  display: flex;
  flex-direction: flow;
  justify-items: center;
  align-items: center;
  color: red;
  text-decoration: none;
  color: inherit;
}
.boxNavbar__pages_boxBtn_home, .boxNavbar__pages_boxBtn_parcours, .boxNavbar__pages_boxBtn_about, .boxNavbar__pages_boxBtn_contact {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  color: #707070;
  padding-left: 4rem;
  padding-right: 4rem;
  font-size: 1.25rem;
}
.boxNavbar__pages_boxBtn_homeIcon {
  width: 2rem;
  height: 100%;
}

@font-face {
  font-family: "sitka";
  src: url("fonts/sitka-small-652.ttf") format("truetype");
}
.header {
  z-index: 0;
}
.header__box_infosTexts {
  width: 100%;
  height: 110vh;
  background-size: cover;
  background-image: url("../../../assets/images/header_bg_1280_800.png");
  backgroud-repeat: no-repeat;
  text-align: left;
  color: white;
  margin-top: 8rem;
}
.header__box_infosTexts h1, .header__box_infosTexts p {
  padding-left: 30rem;
}
.header__box_infosTexts_name {
  padding-top: 13rem;
  font-size: 1.8rem;
  font-family: Sitka;
}
.header__box_infosTexts_workInfos {
  padding-top: 1rem;
  font-size: 3rem;
  font-family: "Franklin Gothic Medium";
}
.header__box_infosTexts_workInfosSubTitle {
  padding-top: 2rem;
  font-size: 1.8rem;
  font-family: Sitka;
}

.skillsBox {
  width: 100%;
  height: 110vh;
}
.skillsBox__title {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 4rem;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
.skillsBox__languageGrid {
  margin-left: 5rem;
  margin-top: 8rem;
  display: grid;
  grid: repeat(2, 4fr);
}
.skillsBox__languageGrid_c {
  background-image: url("../../../assets/images/languagesIcons/c_icon.png");
}
.skillsBox__languageGrid_htmlCss {
  background-image: url("../../../assets/images/languagesIcons/html_css_icons.png");
}
.skillsBox__languageGrid_php {
  background-image: url("../../../assets/images/languagesIcons/php_icon.svg");
}
.skillsBox__languageGrid_mysql {
  background-image: url("../../../assets/images/languagesIcons/sql_icon.png");
}
.skillsBox__languageGrid_cpp {
  background-image: url("../../../assets/images/languagesIcons/cpp_icon.png");
}
.skillsBox__languageGrid_python {
  background-image: url("../../../assets/images/languagesIcons/python.png");
}
.skillsBox__languageGrid_github {
  background-image: url("../../../assets/images/languagesIcons/github_icon.png");
}
.skillsBox__languageGrid_laravel {
  background-image: url("../../../assets/images/languagesIcons/laravel_icon.png");
}
.skillsBox__languageGrid > div {
  border: solid 1px red;
  width: 100%;
  height: 20rem;
  background-size: 100%;
  background-repeat: no-repeat;
}

/*# sourceMappingURL=styles.css.map */
